{% load sekizai_tags i18n staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}Sistema de Inspenção Preventiva de Equipamentos{% endblock %}
        </title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static "simte/css/base.css" %}">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% render_block css postprocessor "compressor.contrib.sekizai.compress" %}
        {% block css %}
        {% endblock %}

        {% block js %}
        {% endblock %}
    </head>
    <body>
    <!--barra de navegação-->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">SIMPE</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'inspection_list' %}">Vistoria e Manutenções</a></li>
                        {% if user.administrator or user.manager %}
                            <li><a href="{% url 'inspection_add' %}">Nova Vistoria</a></li>
                        {% endif %}
                        <li><a href="{% url 'equipment_list' %}">Equipamentos</a></li>
                        {% if user.administrator %}
                            <li><a href="{% url 'equipment_add' %}">Novo Equipamento</a></li>
                            <li><a href="#">Gerenciar Contas</a></li>
                        {% endif %}
                    </ul>

                    {% if not user.is_anonymous %}
                    <ul class="nav navbar-nav navbar-right" style="margin-right:15px;">
                        <li class="dropdown">
                            <a class="dropdown-toggle" aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" href="#">
                                <i class="fa fa-user"></i>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                {% if user.administrator %}
                                <li>
                                    <a href="">
                                        {% trans "Administrator" %}
                                    </a>
                                </li>
                                {% endif %}
                                {% if user.manager %}
                                <li>
                                    <a href="">
                                        {% trans "Manager" %}
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        {{ user.manager.department }}
                                    </a>
                                </li>
                                {% endif %}
                                {% if user.technician %}
                                <li>
                                    <a href="">
                                        {% trans "Technician" %}
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        {{ user.technician.department }}
                                    </a>
                                </li>
                                {% endif %}
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="{% url 'logout' %}">
                                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                                        {% trans "Logout" %}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    {% endif %}
                </div><!-- /.navbar-collapse -->

            </div><!-- /.container-fluid -->
        </nav> <!-- barra de navegação-->

        <div class="container" id="content">
            {% block content %}
            {% endblock %}
        </div>

        {% render_block js postprocessor "compressor.contrib.sekizai.compress" %}
    </body>
</html>
