{% extends "simte/base.html" %}
{% load sekizai_tags i18n bootstrap3 %}

{% block js %}
<script>
    $(document).ready(function() {
        $("form :input").prop("disabled", true);
    });
</script>
{% endblock %}

{% block content %}

<form action="{% url 'equipment' form.instance.id %}" method="post" class="form">
    <legend>{% trans 'Equipment' %}</legend>
    {% csrf_token %}
    {% bootstrap_form form %}
</form>
<div>
    <h3>
        {% trans 'Occupied Dates' %}
    </h3>
    <table class="table">
        <thead>
            <th>
                {% trans 'Start Date' %}
            </th>
            <th>
                {% trans 'End Date' %}
            </th>
        </thead>
        <tbody>
        {% for dates in occupied_dates %}
            <tr>
                <td>
                    {{dates.0}}
                </td>
                <td>
                    {{dates.1}}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    <table>
</div>
{% endblock %}
